openapi: 3.0.1
info:
  version: 1.0.0.SNAPSHOT
  title: Blueair Blueair Friend App Red API
  description: |
    This is the red API for the blueair friend application. It is explicitly stiched to match
    the Blueair friend application. This API is evolved by cloud and app development team and
    shall always be that aim. This API is to be used in conjuction with blue and yellow APIs
    that the cloud (blue) resp. organization (yello) is responsible for.

    ## How to read this document

    This document may be read using a  [online editor](http://editor.swagger.io/) or
    use a docker container to host the editor using `docker run -d -p 80:8080 swaggerapi/swagger-editor`
    when the container is running use a browser and point it to [localhost](http://localhost/). May
    IDEs supports plugins to render and lint OpenAPI such as visual studio code.

    ## Secuirty

    In order to invoke the APIs the client needs to be authenticated. Depending on the type of request
    and which parameters the client needs different scopes and claims inprinted in the token to successfully
    execute the API request.
  termsOfService: 'http://blueair.io/terms/todo-need-to-expose-those-anders-avergaard'
  contact:
    email: apiteam@blueair.io
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
externalDocs:
  description: Find out more about the Blueair Cloud
  url: 'https://blueairab.sharepoint.com/teams/Digitality2/Shared%20Documents/Forms/AllItems.aspx'
servers:
  - url: 'https://api.blueair.io/1.0.0-SNAPSHOT'
  - url: 'https://localhost:8080/1.0.0-SNAPSHOT'
tags:
  - name: red-api
    description: Blueair Friend Application red API
    externalDocs:
      description: Find out more about the red APIs
      url: 'https://todo.me'
security:
  - cloudAuth: []
x-amazon-apigateway-binary-media-types:
  - multipart/form-data
  - application/octet-stream
paths:
  '/c/{uuid}/r/initial':
    post:
      tags:
        - red-api
      summary: The initial API that gathers all states and configuration for the BAF application.
      description: |
        <p>This method gathers all static configuration along with the operational states
        in the dynamic portion. It also gets event and alarms whilist subscribes using either
        supplied filters or default generated. The number of events and alarms (if any requested)
        depends on the in parameter filter. It also supports querying the telemetry service for
        sensor data within a range for each device. In all this reduces several backend calls from
        the application to just one. The whole purpose of this call is to get-in-sync in order to
        just listen to real-time channel to get data, events, and alarms and also control using
        cloud actuator services.  As a sidenote, it is possible to just get the latest reported
        values in the telemetry service. Since those values are timestamped the application may
        choose to indicate that those values are probably incorrect and a few seconds later will
        be overwritten with current ones (if timstamp is far back in time).</p>
        <p>
        The caller should subscribe to real-time channel, event, anlarm before invoking this API
        method (if subscription is wanted). Otherwise some events, alarms or values get lost. 
        Therefore, it is essential to check the values retrieved from this call if there are any
        newer values already recieved. For example, since sensor values will be emitted immediately
        upon subscription (data channel actuator) those might be newer than the retrieved from the
        telemetry service.
        </p>
      operationId: getInitialData
      parameters:
        - $ref: '#/components/parameters/uuid'
      requestBody:
        description: An object to control which data and config gets populated. In addition which events and alarms to subscribe to (if any). It is also possible to avoid real-time (5s) and 5m sensor data subscriptions.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InitialDataRequest'
        required: true
      responses:
        '200':
          description: 'A initial dataset of both static, and operational data such as events, alarms sensor data, operational values of dynamic configuration.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InitialDataResponse'
        '400':
          description: Malformed query
          content: {}
        '401':
          description: Missing authorization token
          content: {}
        '403':
          description: Not allowed to perform the query.
          content: {}
      security:
        - BlueairAuth: []
      x-amazon-apigateway-integration:
        uri:
          'Fn::Sub': 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${InitialConfigApiFunction.Arn}/invocations'
        responses: {}
        httpMethod: POST
        type: aws_proxy
      x-amazon-apigateway-request-validators:
        params-only:
          validateRequestBody: false
          validateRequestParameters: true
  '/c/{uuid}/r/telemetry/{res}/historical':
    get:
      tags:
        - red-api
      summary: This API is using the blue SenML telemetry API to create a more compact BAF friendly response.
      description: 'This API requires the caller to specify which sensors to get historical data. It diviates from the more generic SenML format to present a fixed view for Blueair Friend Application and therefore gives the ability to compress the JSON output instead of using SenML and CBOR on the telemetry service blue SenML API (that would probably result in even smaller result-set). If the _from_ and _to_ parameters is omitted, all 5min data for each device id is returned.'
      operationId: getHistoricalTelemetryData
      parameters:
        - $ref: '#/components/parameters/uuid'
        - $ref: '#/components/parameters/res'
        - $ref: '#/components/parameters/did'
        - $ref: '#/components/parameters/s'
        - $ref: '#/components/parameters/from'
        - $ref: '#/components/parameters/to'
      responses:
        '200':
          description: The resultset depending on the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalTelemetryDataResponse'
        '400':
          description: Malformed query
          content: {}
        '401':
          description: Missing authorization token
          content: {}
        '403':
          description: Not allowed to perform the query.
          content: {}
      security:
        - BlueairAuth: []
      x-amazon-apigateway-integration:
        uri:
          'Fn::Sub': 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${TelemetryApiFunction.Arn}/invocations'
        responses: {}
        httpMethod: POST
        type: aws_proxy
      x-amazon-apigateway-request-validators:
        params-only:
          validateRequestBody: false
          validateRequestParameters: true
components:
  parameters:
    from:
      in: query
      name: from
      description: 'A optional from, equal or greater than, date time.'
      example: '2017-07-21T17:32:28Z'
      required: false
      schema:
        type: string
        format: date-time
    to:
      in: query
      name: to
      description: 'A optional to, equal or less, date time.'
      example: '2018-07-21T17:32:28Z'
      required: false
      schema:
        type: string
        format: date-time
    res:
      in: path
      name: res
      description: The resolution of the result
      example: 5m
      required: true
      schema:
        type: string
        enum:
          - 5m
          - 1h
          - 1d
          - 1w
          - 1m
          - 1y
    uuid:
      in: path
      name: uuid
      description: The application UUID.
      schema:
        type: string
        format: uuid
        example: aaffd52a-a4a2-42e4-ba95-bcccf068b323
      required: true
    s:
      in: query
      name: s
      description: A set of sensor id to specify which sensor values to address. This is retrieved by the device `CmConfig` object where it exposes all its supported `Sensor`(s).
      required: false
      schema:
        type: array
        example:
          - fsp
          - pm2.1
          - tvoc
        items:
          type: string
    did:
      in: query
      name: did
      description: A set of device id to specify which devices.
      required: false
      schema:
        type: array
        example:
          - 9707d52a-a4a2-42e4-ba95-bcccf068b323
        items:
          type: string
          format: uuid
  schemas:
    HwTarget:
      type: string
      description: The hardware identifier for e.g. a Wi-Fi chipset firmware.
      enum:
        - HF-LPB100-1
        - HF-LPB130-1
        - ESP32-WROOM-32
        - ESP32-WROOM-32D
        - ESP32-WROOM-32U
        - ESP32-WROOM-SOLO-1
        - STM32F412-VET6
        - STM32F030-C8
        - STM32F030-R8
        - InitialConfig
        - InitialConfig+Current
        - InitialConfigCandidate
        - CurrentConfig
        - CandidateConfig
      example: STM32F030-R8
    Signature:
      type: object
      description: 'A signature that contains a hash, algorithm, and possibly a hint of what secret key / public key to use when verifying the signature.'
      properties:
        sig:
          type: string
          example: MEQCIAbc83zqClQUz8IIjVcYsCFH1klAZGdSYnaNc9FVZjauAiBKi4NRgi/SWkyIgPXakqu7/VPSsktY1q4v698JPpN4zw==
          description: 'The signature hash. This is produced by, for example, AWS signer. This hash is encrypted by the private key. Thus, the entity needs the corresponding publik key to verify that the signature is created by a trusted source. The latter is dependant on the `salg` used, if only e.g. `SHA256` is used no private key was used to encrypt this property and thus cannot be authenticated.'
        salg:
          type: string
          enum:
            - SHA256
            - HMACSHA256
            - SHA256withECDSA
          description: 'The signatre algortihm used when creating the `sig` hash. Default (if not specified) is `SHA256`. If other algorithm it must be provided. <table> <td> <tr>Algorithm</tr> <tr>Description</tr> </td> <td> <tr>SHA256</tr> <tr> The signature is a plain SHA256 hash without any encryption and thus the authenticy of the hash cannot be verified! This can be used to determine if anything has changed etc. but not verify that the payload can be trusted or not. </tr> </td> <td> <tr>HMACSHA256</tr> <tr> Same as SHA256 but uses a pre shared key (secret key) to create a hash that may be authenticated. This algorithm is defined in [RFC4868](https://tools.ietf.org/html/rfc4868) as specified HMAC-SHA-256-128. Therefore it uses 256 bits of the pre-shared key. If the key is too short it should repeat the key until 256 bits otherwise truncate to 256 bits. </tr> </td> <td> <tr>SHA256withECDSA</tr> <tr> The signature is a plain SHA256 hash that has been encrypted using a eliptic curve certificate possibley hinted in the `hint` property. This signature can be verified and therefore the hash can be trusted to be produced by a trusted source. </tr> </td> </table>'
          example: SHA256withECDSA
        hint:
          type: string
          example: ota-cert
          description: An optional hint such a filename or id where the verifier knows which public key to use when calculating the signature.
      required:
        - sig
      xml:
        name: signature
    Version:
      type: string
      pattern: '^(\d+\.\d+\.\d+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?$'
      example: 1.0.0.SNAPSHOT
      description: 'The version specified as a [SemVer](https://semver.org/)'
    Region:
      type: string
      pattern: '^[A-Z]{2,4}-[A-Z]{2}$'
      example: EU-SE
      description: 'A region consists of a arbitary region such as EU, APAC and a country. It is on the following format Region_Country. Country is in two-digit format as specified in [ISO3166-1](https://en.wikipedia.org/wiki/ISO_3166-1). The allowed regions are EU, US, APAC, ME, CN.'''
    DateTimeTZ:
      type: string
      format: date-time
      example: '2017-07-21T17:32:28Z+02'
      description: 'The date and time including optional timezone as specified in [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6).'
    DataUnit:
      type: string
      example: 1/min
      enum:
        - m
        - kg
        - g
        - s
        - A
        - K
        - cd
        - mol
        - Hz
        - rad
        - sr
        - 'N'
        - Pa
        - J
        - W
        - C
        - V
        - F
        - Ohm
        - Wb
        - T
        - H
        - Cel
        - lm
        - lx
        - Bq
        - Gy
        - Sv
        - kat
        - m2
        - m3
        - l
        - m/s
        - m/s2
        - m3/s
        - l/s
        - W/m2
        - cd/m2
        - bit
        - bit/s
        - lat
        - lon
        - pH
        - dB
        - dBW
        - dBm
        - Bspl
        - count
        - /
        - '%'
        - '%RH'
        - '%EL'
        - EL
        - 1/s
        - 1/min
        - beat/min
        - beats
        - S/m
        - ms
        - ppb
        - ppm
        - ug/m3
        - kb
      description: |
        Standard units from SenML specification, [chapter 12.1](https://tools.ietf.org/html/rfc8428#section-12.1).
        <table>
          <tr>
            <td>Symbol</td>
            <td>Description</td>
            <td>Type</td>
          </tr>
          <tr>
            <td>m</td>
            <td>meter</td>
            <td>float</td>
          </tr>
          <tr>
            <td>kg</td>
            <td>kilogram</td>
            <td>float</td>
          </tr>
          <tr>
            <td>g</td>
            <td>gram</td>
            <td>float</td>
          </tr>
          <tr>
            <td>s</td>
            <td>second</td>
            <td>float</td>
          </tr>
          <tr>
            <td>A</td>
            <td>ampere</td>
            <td>float</td>
          </tr>
          <tr>
            <td>K</td>
            <td>kelvin</td>
            <td>float</td>
          </tr>
          <tr>
            <td>cd</td>
            <td>candela</td>
            <td>float</td>
          </tr>
          <tr>
            <td>mol</td>
            <td>mole</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Hz</td>
            <td>hertz</td>
            <td>float</td>
          </tr>
          <tr>
            <td>rad</td>
            <td>radian</td>
            <td>float</td>
          </tr>
          <tr>
            <td>sr</td>
            <td>steradian</td>
            <td>float</td>
          </tr>
          <tr>
            <td>N</td>
            <td>newton</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Pa</td>
            <td>pascal</td>
            <td>float</td>
          </tr>
          <tr>
            <td>J</td>
            <td>joule</td>
            <td>float</td>
          </tr>
          <tr>
            <td>W</td>
            <td>watt</td>
            <td>float</td>
          </tr>
          <tr>
            <td>C</td>
            <td>coulomb</td>
            <td>float</td>
          </tr>
          <tr>
            <td>V</td>
            <td>volt</td>
            <td>float</td>
          </tr>
          <tr>
            <td>F</td>
            <td>farad</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Ohm</td>
            <td>ohm</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Wb</td>
            <td>weber</td>
            <td>float</td>
          </tr>
          <tr>
            <td>T</td>
            <td>tesla</td>
            <td>float</td>
          </tr>
          <tr>
            <td>H</td>
            <td>henry</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Cel</td>
            <td>degrees Celsius</td>
            <td>float</td>
          </tr>
          <tr>
            <td>lm</td>
            <td>lumen</td>
            <td>float</td>
          </tr>
          <tr>
            <td>lx</td>
            <td>lux</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Bq</td>
            <td>becquerel</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Gy</td>
            <td>gray</td>
            <td>float</td>
          </tr>
          <tr>
            <td>Sv</td>
            <td>sievert</td>
            <td>float</td>
          </tr>
          <tr>
            <td>kat</td>
            <td>katal</td>
            <td>float</td>
          </tr>
          <tr>
            <td>m2</td>
            <td>square meter (area)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>m3</td>
            <td>cubic meter (volume)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>l</td>
            <td>liter (volume)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>m/s</td>
            <td>meter per second (velocity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>m/s2</td>
            <td>meter per square second (acceleration)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>m3/s</td>
            <td>cubic meter per second (flow rate)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>l/s</td>
            <td>liter per second (flow rate)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>W/m2</td>
            <td>watt per square meter (irradiance)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>cd/m2</td>
            <td>candela per square meter (luminance)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>bit</td>
            <td>bit (information content)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>bit/s</td>
            <td>bit per second (data rate)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>lat</td>
            <td>degrees latitude (Note 1)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>lon</td>
            <td>degrees longitude (Note 1)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>pH</td>
            <td>pH value (acidity; logarithmic quantity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>dB</td>
            <td>decibel (logarithmic quantity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>dBW</td>
            <td>decibel relative to 1 W (power level)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>dBm</td>
            <td>
              Decibel-milliwatts (decibels with reference to one milliwatt).
              https://en.wikipedia.org/wiki/DBm
            </td>
            <td>float</td>
          </tr>
          <tr>
            <td>Bspl</td>
            <td>bel (sound pressure level; logarithmic quantity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>count</td>
            <td>1 (counter value)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>/</td>
            <td>1 (ratio, e.g., value of a switch; Note 2)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>%</td>
            <td>1 (ratio, e.g., value of a switch; Note 2)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>%RH</td>
            <td>percentage (relative humidity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>%EL</td>
            <td>percentage (remaining batter energy level)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>EL</td>
            <td>seconds (remaining battery energy level)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>1/s</td>
            <td>1 per second (event rate)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>1/min</td>
            <td>1 per minute (event rate, "rpm")</td>
            <td>float</td>
          </tr>
          <tr>
            <td>beat/min</td>
            <td>1 per minute (heart rate in beats per minute)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>beats</td>
            <td>1 (cumulative number of heart beats)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>S/m</td>
            <td>siemens per meter (conductivity)</td>
            <td>float</td>
          </tr>
          <tr>
            <td>[extended] ms</td>
            <td>Milliseconds, usually a 64 or 32 bit unix timestamp.</td>
            <td>int64</td>
          </tr>
          <tr>
            <td>[extended] ppb</td>
            <td>Parts per billion, usually voc or tvoc measurement.</td>
            <td>float</td>
          </tr>
          <tr>
            <td>[extended] ppm</td>
            <td>Parts per million, usually co2 measurement.</td>
            <td>float</td>
          </tr>
          <tr>
            <td>[extended] ug/m3</td>
            <td>the amount of particles per qubic meter. Usually PM (particle) measurements.</td>
            <td>float</td>
          </tr>
          <tr>
            <td>[extended] kb</td>
            <td>Number of kilo bytes, e.g. free memory.</td>
            <td>float</td>
          </tr>
        </table>
        <ol>
          <li>
            Note 1 - Assumed to be in World Geodetic System 1984 (WGS84), unless another reference frame is known for the sensor
          </li>
          <li>
            Note 2 - A value of 0.0 indicates the switch is off, 1.0 indicates
            on, and 0.5 indicates half on.  The preferred name of this unit is
            "/".  For historical reasons, the name "%" is also provided for
            the same unit, but note that while that name strongly suggests a
            percentage (0..100), it is NOT a percentage but the absolute
            ratio!
          </li>
        </ol>

        CBOR Label is 1 (u field)
    Coordinate:
      type: object
      description: 'A coordinate where 0,0 is left-bottom. It also has an optional shape for e.g. detection range.'
      properties:
        x:
          type: number
          format: float
          example: 1
          description: The x point
        'y':
          type: number
          format: float
          example: 1
          description: The y point
        shape:
          type: string
          enum:
            - Rectangle
            - Elipsis
            - Circle
        sx:
          type: number
          format: float
          example: 10.2
          description: Either radius if circle or x size of the shape
        sy:
          type: number
          format: float
          example: 1.2
          description: The y size of the shape
      required:
        - x
        - 'y'
    ResourceIdentifier:
      type: string
      format: uri
      example: 'r://018b1067-37bb-47e8-b837-e1d6c61b6fbd/fans/0/speed-actuator'
      description: |-
        This is a complete identifier for a resource. The resource identifier is on the following format. r://uuid/sub1/sub2 where sub stands for resource specific sub identifiers. This is used to determine which exact resource in a global perspective. The resource identifiers may be used in app, client, device, or service.
        For example to identify a fan speed actuator in a purifier the following scheme is realised. r://018b1067-37bb-47e8-b837-e1d6c61b6fbd/fans/0/speed-actuator.
    MQTTTopic:
      type: string
      pattern: '([\w\.\-\$]+(\/[\w\.\-\$]+)*)'
      example: /my/topic/+/sensors/fan0
      description: Describes a valid MQTT topic.
    Serial:
      type: string
      pattern: '^[0-9]{6}-[0-9]{3}-[0-9]{3}-[0-9]{1}-[0-9]{2}-[0-9]{1}-[0-9]{7}$'
      example: 012345-012-012-0-01-0-0123456
      description: This is Johan and Joakim serial number format as a OpenAPI type. It is based on. 1) Item Number (3) 2) Revision (3) 3) Manufacturer (3) 4) Manufacturer Plant (1) 5) Production Line (2) 6) Station (1) 4) Running Number (7)
    SKU:
      type: string
      pattern: '^[0-9]{6}$'
      example: '012345'
      description: This is Johan SKU definition.
    SSID:
      type: string
      maxLength: 31
      minLength: 1
      example: MYHOMENETWORK
      description: The connecting to / using SSID for the application or device.
    BSSID:
      type: string
      pattern: '^([[:xdigit:]]{2}[:.-]?){5}[[:xdigit:]]{2}$'
      example: '3D:F2:C9:A6:B3:4F'
      description: The mac address of the Wi-Fi router
    RSSI:
      type: integer
      format: int32
      example: -67
      maximum: -30
      minimum: -100
      description: dBm - The power level in mW (milli watts).
    WiFiAuth:
      type: string
      enum:
        - Open
        - WPA
        - WPA+AES
        - WPA+TKIP
        - WPA+TKIP/AES
        - WPA2
        - WPA3
      example: WPA2
      description: The authentication mode supported by the network
    IPV4Config:
      type: object
      properties:
        ip:
          type: string
          format: ipv4
          example: 192.168.1.17
        gw:
          type: string
          format: ipv4
          example: 192.168.1.17
        dns:
          type: array
          items:
            type: string
            format: ipv4
            example: 192.168.1.17
      required:
        - ip
    IPV6Config:
      type: object
      properties:
        ip:
          type: string
          format: ipv6
          example: '2001:0db8:85a3:0000:0000:8a2e:0370:7334'
        gw:
          type: string
          format: ipv6
          example: '2001:0db8:85a3:0000:0000:8a2e:0370:7334'
        dns:
          type: array
          items:
            type: string
            format: ipv6
            example: '2001:0db8:85a3:0000:0000:8a2e:0370:7334'
      required:
        - ip
    UUIDItem:
      type: object
      description: A device UUID and its IP. It may be either ipv4 or ipv6 (or both).
      properties:
        uuid:
          type: string
          format: uuid
          example: 9707d52a-a4a2-42e4-ba95-bcccf068b323
        ssid:
          type: string
          maxLength: 31
          minLength: 1
          example: MYHOMENETWORK
          description: The SSID that the device is using when bound to corresponding IP.
        bssid:
          type: string
          pattern: '^([[:xdigit:]]{2}[:.-]?){5}[[:xdigit:]]{2}$'
          example: '3D:F2:C9:A6:B3:4F'
          description: The mac address of the Wi-Fi router ssid
        ipv4:
          $ref: '#/components/schemas/IPV4Config'
        ipv6:
          $ref: '#/components/schemas/IPV6Config'
      required:
        - uuid
      xml:
        name: uuid-comm-config
    SoftAP:
      type: object
      description: A soft ap metadata used for query and setting of properties. When set only non readonly properties may be included. In addition only specify the properties to be set. The non existant ones are ignored. In a get operation the access-point should return all properties.
      properties:
        ssid:
          type: string
          maxLength: 31
          minLength: 1
          example: MYHOMENETWORK
          description: The SSID currently beaconed or to be set on the AP.
        bands:
          description: A comma separated MHz values for supported frequencies `Read-Only`.
          type: array
          items:
            type: string
            pattern: '^\d+(,\d+)*$'
            example: 2412
        password:
          type: string
          example: MyWiFiPassword8!
          description: 'The password for binding to the _SSID_, `Write-Only`.'
        channel:
          type: integer
          format: int32
          example: 6
          maximum: 196
          minimum: 0
          description: 'The [channel](https://en.wikipedia.org/wiki/List_of_WLAN_channels) used or should bind to. The most common in the world is channel 6. When 2.4Gz 1 - 14 is only valid. Zero means `auto-mode`.'
        bssid:
          type: string
          pattern: '^([[:xdigit:]]{2}[:.-]?){5}[[:xdigit:]]{2}$'
          example: '3D:F2:C9:A6:B3:4F'
          description: The mac address of the Wi-Fi access point `Read-Only`.
        auth:
          type: string
          enum:
            - Open
            - WPA
            - WPA+AES
            - WPA+TKIP
            - WPA+TKIP/AES
            - WPA2
            - WPA3
          example: WPA2
          description: The authentication mode currently set or to be set in the acess-point.
        enabled:
          type: boolean
          example: true
          description: Determines or sets the access point on or off.
    SSIDNetwork:
      type: object
      description: A SSID and optional RSSI entry
      properties:
        ssid:
          $ref: '#/components/schemas/SSID'
        bssid:
          $ref: '#/components/schemas/BSSID'
        rssi:
          $ref: '#/components/schemas/RSSI'
        auth:
          $ref: '#/components/schemas/WiFiAuth'
        r:
          $ref: '#/components/schemas/Region'
      required:
        - ssid
    IpV4IpV6Config:
      type: object
      properties:
        ipv4:
          $ref: '#/components/schemas/IPV4Config'
        ipv6:
          $ref: '#/components/schemas/IPV6Config'
    SenMLBaseName:
      type: string
      description: |-
        This is a prefix on Name (`n` field) in a payload. This is used to shorten the name field and thus take less space.
        CBOR Label is -2
      example: 'urn:dev:ow:10e2073a01080063:'
    SenMLBaseTime:
      type: number
      format: double
      example: 1320078429
      description: |-
        The Base Time and Time values are added together to get a value representing the time of measurement.
        CBOR Label is -3
    SenMLBaseValue:
      type: number
      format: double
      example: '77.16'
      description: |-
        If the Base Value or Value is not present, the missing field(s) is considered to have a value of zero.  The Base Value and Value are added together to get the value of the measurement.
        CBOR Label is -5
    SenMLBaseSum:
      type: number
      format: double
      example: 77.12
      description: 'A base sum is added to the sum found in an entry, similar to Base Time. CBOR Label is -6'
    SenMLBaseVersion:
      type: integer
      format: int32
      example: 5
      description: |-
        Version number of the media type format.  This field is an optional positive integer and defaults to 10 if not present.
        CBOR Label is -1
    SenMLName:
      type: string
      example: fanspeed
      description: |
        <p>
        Name of the sensor / actuator or actuator parameter.
        The Name value is concatenated to the Base Name value to yield the
        name of the sensor.  The resulting concatenated name needs to
        uniquely identify and differentiate the sensor from all others.  The
        concatenated name MUST consist only of characters out of the set "A"
        to "Z", "a" to "z", and "0" to "9", as well as "-", ":", ".", "/",
        and "_"; furthermore, it MUST start with a character out of the set
        "A" to "Z", "a" to "z", or "0" to "9".  This restricted character set
        was chosen so that concatenated names can be used directly within
        various URI schemes (including segments of an HTTP path with no
        special encoding; note that a name that contains "/" characters maps
        into multiple URI path segments) and can be used directly in many
        databases and analytic systems.  [RFC5952](https://tools.ietf.org/html/rfc5952) 
        contains advice on encoding an IPv6 address in a name.  See 
        [Section 14](https://tools.ietf.org/html/rfc8428#section-14) for 
        privacy considerations that apply to the use of long-term stable unique
        identifiers.</p>
        <p>
        Although it is RECOMMENDED that concatenated names be represented as
        URIs [RFC3986](https://tools.ietf.org/html/rfc3986) or URNs 
        [RFC8141](https://tools.ietf.org/html/rfc8141), the restricted character set
        specified above puts strict limits on the URI schemes and URN
        namespaces that can be used.  As a result, implementers need to take
        care in choosing the naming scheme for concatenated names, because
        such names both need to be unique and need to conform to the
        restricted character set.  One approach is to include a bit string
        that has guaranteed uniqueness (such as a 1-wire address 
        [AN1796](https://tools.ietf.org/html/rfc8428#ref-AN1796)).
        Some of the examples within this document use the device URN
        namespace as specified in [DEVICE-URN](https://tools.ietf.org/html/rfc8428#ref-DEVICE-URN).  
        niversally Unique Identifiers (UUIDs) [RFC4122](https://tools.ietf.org/html/rfc4122) 
        are another way to generate a unique name.  However, the restricted 
        character set does not allow the use of many URI schemes, such as 
        the "tag" scheme [RFC4151](https://tools.ietf.org/html/rfc4151) and 
        the "ni" scheme [RFC6920](https://tools.ietf.org/html/rfc6920), in 
        names as such.  The use of URIs with characters incompatible with 
        this set and possible mapping rules between the two are outside 
        the scope of the present document.</p>

        <p><em>CBOR Label is 0</em></p>   
    SenMLValue:
      type: number
      format: double
      example: 10
      description: |
        <p>
        If only one of the Base Sum or Sum value is present, the missing
        field is considered to have a value of zero.  The Base Sum and Sum
        values are added together to get the sum of measurement.  If neither
        the Base Sum nor the Sum is present, then the measurement does not
        have a Sum value.</p>
        <p>
        If the Base Value or Value is not present, the missing field(s) is
        considered to have a value of zero.  The Base Value and Value are
        added together to get the value of the measurement.</p>
        <p>
        Representing the statistical characteristics of measurements, such as
        accuracy, can be very complex.  Future specification may add new
        fields to provide better information about the statistical properties
        of the measurement.</p>
        <p>
        In summary, the structure of a SenML Record is laid out to support a
        single measurement per Record.  If multiple data values are measured
        at the same time (e.g., air pressure and altitude), they are best
        kept as separate Records linked through their Time value; this is
        even true when one of the data values is more "meta" than others
        (e.g., describes a condition that influences other measurements at
        the same time).</p>

        <p><em>CBOR Label is 2</em></p>
    SenMLStringValue:
      type: string
      example: my string
      description: |
        <p>
        If only one of the Base Sum or Sum value is present, the missing
        field is considered to have a value of zero.  The Base Sum and Sum
        values are added together to get the sum of measurement.  If neither
        the Base Sum nor the Sum is present, then the measurement does not
        have a Sum value.</p>
        <p>
        If the Base Value or Value is not present, the missing field(s) is
        considered to have a value of zero.  The Base Value and Value are
        added together to get the value of the measurement.</p>
        <p>
        Representing the statistical characteristics of measurements, such as
        accuracy, can be very complex.  Future specification may add new
        fields to provide better information about the statistical properties
        of the measurement.</p>
        <p>
        In summary, the structure of a SenML Record is laid out to support a
        single measurement per Record.  If multiple data values are measured
        at the same time (e.g., air pressure and altitude), they are best
        kept as separate Records linked through their Time value; this is
        even true when one of the data values is more "meta" than others
        (e.g., describes a condition that influences other measurements at
        the same time).</p>

        <p><em>CBOR Label is 3</em></p>
    SenMLBoolValue:
      type: boolean
      example: true
      description: |
        <p>
        If only one of the Base Sum or Sum value is present, the missing
        field is considered to have a value of zero.  The Base Sum and Sum
        values are added together to get the sum of measurement.  If neither
        the Base Sum nor the Sum is present, then the measurement does not
        have a Sum value.</p>
        <p>
        If the Base Value or Value is not present, the missing field(s) is
        considered to have a value of zero.  The Base Value and Value are
        added together to get the value of the measurement.</p>
        <p>
        Representing the statistical characteristics of measurements, such as
        accuracy, can be very complex.  Future specification may add new
        fields to provide better information about the statistical properties
        of the measurement.</p>§
        <p>
        In summary, the structure of a SenML Record is laid out to support a
        single measurement per Record.  If multiple data values are measured
        at the same time (e.g., air pressure and altitude), they are best
        kept as separate Records linked through their Time value; this is
        even true when one of the data values is more "meta" than others
        (e.g., describes a condition that influences other measurements at
        the same time).</p>
        <p><em>CBOR Label is 3</em></p>
    SenMLDataValue:
      type: string
      example: aGVqIHDDpSBkaWc=
      description: |
        <p>
        If only one of the Base Sum or Sum value is present, the missing
        field is considered to have a value of zero.  The Base Sum and Sum
        values are added together to get the sum of measurement.  If neither
        the Base Sum nor the Sum is present, then the measurement does not
        have a Sum value.</p>
        <p>
        If the Base Value or Value is not present, the missing field(s) is
        considered to have a value of zero.  The Base Value and Value are
        added together to get the value of the measurement.</p>
        <p>
        Representing the statistical characteristics of measurements, such as
        accuracy, can be very complex.  Future specification may add new
        fields to provide better information about the statistical properties
        of the measurement.</p>
        <p>
        In summary, the structure of a SenML Record is laid out to support a
        single measurement per Record.  If multiple data values are measured
        at the same time (e.g., air pressure and altitude), they are best
        kept as separate Records linked through their Time value; this is
        even true when one of the data values is more "meta" than others
        (e.g., describes a condition that influences other measurements at
        the same time).</p>
        <p>
        Data Value is a base64-encoded string with the URL-safe alphabet
        as defined in Section 5 of [RFC4648](https://tools.ietf.org/html/rfc4648#section-5), 
        with padding omitted.  (In CBOR, the octets in the Data Value are 
        encoded using a definite-length byte string, major type 2.)</p>
        <p><em>CBOR Label is 8</em></p>
    SenMLSum:
      type: number
      format: double
      example: 177.92
      description: |-
        Integrated sum of the values over time.  Optional.  This field is in the unit specified in the Unit value multiplied by seconds. For historical reasons, it is named "sum" instead of "integral".
        CBOR Label is 5
    SenMLTime:
      type: number
      format: double
      example: 1320078429
      description: |
        <p>
        If either the Base Time or Time value is missing, the missing field
        is considered to have a value of zero.  The Base Time and Time values
        are added together to get a value representing the time of
        measurement.</p>
        <p>
        Values less than 268,435,456 (2**28) represent time relative to the
        current time.  That is, a time of zero indicates that the sensor does
        not know the absolute time and the measurement was made roughly
        "now".  A negative value indicates seconds in the past from roughly
        "now".  Positive values up to 2**28 indicate seconds in the future
        from "now".  An example for employing positive values would be
        actuation use, when the desired change should happen in the future,
        but the sender or the receiver does not have accurate time available.</p>
        <p>
        Values greater than or equal to 2**28 represent an absolute time
        relative to the Unix epoch (1970-01-01T00:00Z in UTC time), and the
        time is counted the same way as the Portable Operating System
        Interface (POSIX) "seconds since the epoch" [TIME_T].  Therefore, the
        smallest absolute Time value that can be expressed (2**28) is
        1978-07-04 21:24:16 UTC.</p>
        <p>
        Because Time values up to 2**28 are used for representing time
        relative to "now" and Time and Base Time are added together, care
        must be taken to ensure that the sum does not inadvertently reach
        2**28 (i.e., absolute time) when relative time was intended to be
        used.</p>
        <p>
        Obviously, SenML Records referenced to "now" are only useful within a
        specific communication context (e.g., based on information on when
        the SenML Pack, or a specific Record in a SenSML Stream, was sent) or
        together with some other context information that can be used for
        deriving a meaning of "now"; the expectation for any archival use is
        that they will be processed into UTC-referenced records before that
        context would cease to be available.  This specification deliberately
        leaves the accuracy of "now" very vague as it is determined by the
        overall systems that use SenML.  In a system where a sensor without
        wall-clock time sends a SenML Record with a time referenced to "now"
        over a high-speed RS-485 link to an embedded system with accurate
        time that resolves "now" based on the time of reception, the
        resulting time uncertainty could be within 1 ms.  At the other
        extreme, a deployment that sends SenML wind-speed readings over a
        Low-Earth Orbit (LEO) satellite link from a mountain valley might
        have resulting reception Time values that are easily a dozen minutes
        off the actual time of the sensor reading, with the time uncertainty
        depending on satellite locations and conditions.</p>

        <p><em>CBOR Label is 6</em><p>
    SenMLUpdateTime:
      type: number
      format: double
      example: 11
      description: |-
        Period of time in seconds that represents the maximum time before this sensor will provide an updated reading for a measurement.  Optional.  This can be used to detect the failure of sensors or the communications path from the sensor.
        CBOR Label is 7
    SenMLActuationResponseEntry:
      type: object
      description: |-
        A response entry for a SenML actuation. It responds using SenML syntax. Where each sensor or SenML parameter entry is reflected back with a [HTTP status code](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes).
        The client may check each individual to get the result of the actuation. The optional `t`ime can be used to determin when the actuation did occur. It may have one or more virtual sensors if e.g. client cookie is provided then it is returned as a value under the name `urn:senml:cc` and the property `vs` is set as the input provided client cookie.
        This is for asynchrnonous APIs where responses are either polled or recieved asynchrnously e.g. via `MQTT` or `WebSocket`. Other means of providing this is allowed such as a `HTTP` header or alike.
      properties:
        'n':
          $ref: '#/components/schemas/SenMLName'
        v:
          $ref: '#/components/schemas/SenMLValue'
        bn:
          $ref: '#/components/schemas/SenMLBaseName'
        bver:
          $ref: '#/components/schemas/SenMLBaseVersion'
        t:
          $ref: '#/components/schemas/SenMLTime'
      required:
        - 'n'
        - v
      xml:
        name: senml
    SenMLRequestEntry:
      type: object
      description: |-
        A single entry to adress one sensor or data element in a request or subscription. It follows the SenML semantics so a `bn` may be provided to prefix the `n` element and so on. Since this is a request entry all parameters are criterion to enable sensor readings and narrow the resultset. All are optional except for the `n` element. It is also possible to use this request to query historical data using a time reference acting as from time.
        This request should use the SenML defined mimetypes such as `application/senml+json`.
      properties:
        bn:
          $ref: '#/components/schemas/SenMLBaseName'
        bt:
          $ref: '#/components/schemas/SenMLBaseTime'
        bver:
          $ref: '#/components/schemas/SenMLBaseVersion'
        'n':
          $ref: '#/components/schemas/SenMLName'
        t:
          $ref: '#/components/schemas/SenMLTime'
        ut:
          $ref: '#/components/schemas/SenMLUpdateTime'
      required:
        - 'n'
      xml:
        name: senml
    SenMLEntry:
      type: object
      description: 'A entry of [SenML](https://tools.ietf.org/html/rfc8428) data. <p> Connecting sensors to the Internet is not new, and there have been many protocols designed to facilitate it.  This specification defines a format and media types for carrying simple sensor information in protocols such as HTTP [RFC7230](https://tools.ietf.org/html/rfc7230) or CoAP [RFC7252](https://tools.ietf.org/html/rfc7252).  The SenML format is designed so that processors with very limited capabilities could easily encode a sensor measurement into the media type, while at the same time, a server parsing the data could collect a large number of sensor measurements in a relatively efficient manner.  SenML can be used for a variety of data flow models, most notably data feeds pushed from a sensor to a collector, and for the web resource model where the sensor data is requested as a resource representation (e.g., "GET /sensor/temperature").</p> <p> There are many types of more complex measurements and measurements that this media type would not be suitable for.  SenML strikes a balance between having some information about the sensor carried with the sensor data so that the data is self-describing, but it also tries to make that a fairly minimal set of auxiliary information for efficiency reasons.  Other information about the sensor can be discovered by other methods such as using the Constrained RESTful Environments (CoRE) Link Format [RFC6690](https://tools.ietf.org/html/rfc6690). </p><p> SenML is defined by a data model for measurements and simple metadata about measurements and devices.  The data is structured as a single array that contains a series of SenML Records that can each contain fields such as a unique identifier for the sensor, the time the measurement was made, the unit the measurement is in, and the current value of the sensor.  Serializations for this data model are defined for JSON [RFC8259](https://tools.ietf.org/html/rfc8259), CBOR [RFC7049](https://tools.ietf.org/html/rfc7049), XML [W3C.REC-xml-20081126](https://tools.ietf.org/html/rfc8428#ref-W3C.REC-xml-20081126), and Efficient XML Interchange (EXI) [W3C.REC-exi-20140211](https://tools.ietf.org/html/rfc8428#ref-W3C.REC-exi-20140211). </p><p> For example, the following shows a measurement from a temperature gauge encoded in the JSON syntax.</p> <p><ul style="list-style-type:none"><li> [ {"n":"urn:dev:ow:10e2073a01080063","u":"Cel","v":23.1} ]</li></ul></p> <p> In the example above, the array has a single SenML Record with a measurement for a sensor named "urn:dev:ow:10e2073a01080063" with a current value of 23.1 degrees Celsius.</p> <p> The design goal is to be able to send simple sensor measurements in small packets from large numbers of constrained devices.  Keeping the total size of the payload small makes it easy to also use SenML in constrained networks, e.g., in an IPv6 over Low-Power Wireless Personal Area Network (6LoWPAN) [RFC4944].  It is always difficult to define what small code is, but there is a desire to be able to implement this in roughly 1 KB of flash on an 8-bit microprocessor. Experience with power meters and other large-scale deployments has indicated that the solution needs to support allowing multiple measurements to be batched into a single HTTP or CoAP request.  This "batch" upload capability allows the server side to efficiently support a large number of devices.  It also conveniently supports batch transfers from proxies and storage devices, even in situations where the sensor itself sends just a single data item at a time.  The multiple measurements could be from multiple related sensors or from the same sensor but at different times.</p> <p> The basic design is an array with a series of measurements.  The following example shows two measurements made at different times. The value of a measurement is given by the "v" field, the time of a measurement is in the "t" field, the "n" field has a unique sensor name, and the unit of the measurement is carried in the "u" field.</p> <p><ul style="list-style-type:none"><li> [ {"n":"urn:dev:ow:10e2073a01080063","u":"Cel","t":1.276020076e+09, "v":23.5}, {"n":"urn:dev:ow:10e2073a01080063","u":"Cel","t":1.276020091e+09, "v":23.6} ]</li></ul></p> <p> To keep the messages small, it does not make sense to repeat the "n" field in each SenML Record, so there is a concept of a Base Name, which is simply a string that is prepended to the Name field of all elements in that Record and any Records that follow it.  So, a more compact form of the example above is the following.</p> <p><ul style="list-style-type:none"><li> [ {"bn":"urn:dev:ow:10e2073a01080063","u":"Cel","t":1.276020076e+09, "v":23.5}, {"u":"Cel","t":1.276020091e+09, "v":23.6} ]</li></ul></p> <p> In the above example, the Base Name is in the "bn" field, and the "n" fields in each Record are empty strings, so they are omitted.</p> <p> Some devices have accurate time while others do not, so SenML supports absolute and relative times.  Time is represented in floating point as seconds.  Values greater than or equal to 2**28 represent an absolute time relative to the Unix epoch.  Values less than 2**28 represent time relative to the current time.</p> <p> A simple sensor with no absolute wall-clock time might take a measurement every second, batch up 60 of them, and then send the batch to a server.  It would include the relative time each measurement was made compared to the time the batch was sent in each SenML Record.  If the server has accurate time based on, e.g., the Network Time Protocol (NTP), it may use the time it received the data and the relative offset to replace the times in the SenML with absolute times before saving the SenML information in a document database.</p> <p> Virtual SenML values is provided under the base name `urn:senml:cc`. Recievers may choose to ignore or have other transport mechanism for those SenML value. For example HTTP the AT is transported in the `Authorization` HTTP header instead. <ul style="list-style-type:none"> <li> cc - where the client cookie is either provided or returned in a request operation. It transported in the `vs` property. </li> <li> at - This is a OAuth 2 access token or Open Id Connect token that authorizes the request. This is common in protocols that cannot bear a header. When it is a OIDC token, the request is authorized and authenticated at the same time where as the standard OAuth 2 AT is just for authorization. It transported in the `vs` property. </li> </ul> </p>'
      properties:
        bn:
          $ref: '#/components/schemas/SenMLBaseName'
        bt:
          $ref: '#/components/schemas/SenMLBaseTime'
        bu:
          $ref: '#/components/schemas/DataUnit'
          description: 'If the Record has no Unit, the Base Unit is used as the Unit. CBOR Label is -4'
        bv:
          $ref: '#/components/schemas/SenMLBaseValue'
        bs:
          $ref: '#/components/schemas/SenMLBaseSum'
        bver:
          $ref: '#/components/schemas/SenMLBaseVersion'
        'n':
          $ref: '#/components/schemas/SenMLName'
        u:
          $ref: '#/components/schemas/DataUnit'
        v:
          $ref: '#/components/schemas/SenMLValue'
        vs:
          $ref: '#/components/schemas/SenMLStringValue'
        vb:
          $ref: '#/components/schemas/SenMLBoolValue'
        vd:
          $ref: '#/components/schemas/SenMLDataValue'
        s:
          $ref: '#/components/schemas/SenMLSum'
        t:
          $ref: '#/components/schemas/SenMLTime'
        ut:
          $ref: '#/components/schemas/SenMLUpdateTime'
      xml:
        name: senml
    SenMLRequest:
      type: array
      items:
        $ref: '#/components/schemas/SenMLRequestEntry'
    SenMLActuationResponse:
      type: array
      items:
        $ref: '#/components/schemas/SenMLActuationResponseEntry'
    SenML:
      type: array
      items:
        $ref: '#/components/schemas/SenMLEntry'
    ImageMetaData:
      type: object
      description: A set of metadata associated with an image. Custom additional properties can be added after the mandatory properties.
      properties:
        image:
          type: string
          format: uri
          description: The URI of the image. It has a scheme or come without (just the resource). The former may be used to e.g. point out a HTTPS address where the image may be downloaded. Note that the path may include QUERY parameters such as a access token and shall be included in the HTTPS request.
          example: firmware.1.0.0.SNAPSHOT.tgz
        tp:
          type: string
          description: An optional target path on the `targetHandler` where the file component in `image` should be written.
        eid:
          type: string
          format: uuid
          description: 'A ephemeral uuid of the image. This is to uniquely refer to this image during e.g. a provision request. Therefore it is not persistent a subsquent image provision request, with same image, may have different id but shall be treated as a ephemeral id. Therefore, this is not set in the document itself. It is only used by the handler when it emits ImageProvision Events.'
          example: 06d4c900-075f-4f91-a1b6-cbfe309c427e
        sid:
          type: string
          pattern: '^(\d+(,\d+)*)?$'
          description: |-
            An optional Id of the stream that is carrying the image. If multiple streams a comma separated string with the stream ids are passed. The id is a positive integer starting from zero. No other ASCII characters than 0 - 9 and , is allowed (not even space). If not part of a stream this porperty shall either be omitted or zero length string.
            If the `ImageMetadata` object is put into the `images` array in a `ImageMetadataStreams` object they must be ordered with ascending ordinal. Thus, it is not possible to have a `sid` of two and then have a `sid` with one as next item in the array.
            There are three types of streams <ul> <li>AWS Stream where it provides the binary data through IoT Core (MQTT) using AWS OTA Job.</li> <li>Multipart binary files where first file is stream 1. This is only accessable locally on the device.</li> <li> Device downloads via HTTPS. In this case the files are constructed on the following format <i>s(stream id)-(filename).(version).(extension)</i> </li> </ul>
            For example when download-able streams and property is set to 20,21 and the image URI is set to https://images.bluair.io/g4/firmware.1.0.0.SNAPSHOT.tgz there will be two URI to use when downloading the firmware image. The first is https://images.bluair.io/g4/s20-firmware.1.0.0.SNAPSHOT.tgz and the second is https://images.bluair.io/g4/s21-firmware.1.0.0.SNAPSHOT.tgz.
          example: '1,2,6,19'
        targetHandler:
          $ref: '#/components/schemas/HwTarget'
          description: 'The target hardware to cope with the image. Thus, the one to process and do the actual storing / flashing of the image. It may be tunneled using protocol over a bus or other but the driver of the process is the handler. Such as Wi-Fi chipset may flash the MCU directly or indirectly.'
        version:
          $ref: '#/components/schemas/Version'
        target:
          $ref: '#/components/schemas/HwTarget'
          description: The target to use the image such as Wi-Fi chipset firmware.
        size:
          type: integer
          format: int64
          example: 10000000
          description: 'The number of octets that the image compromize of. If unknown, no property or below zero.'
        usize:
          type: integer
          format: int64
          example: 99900000
          description: 'The amount of octets the image will take when uncompressed or otherwise expanded. If image consists of multiple files. All files are counted for. If unknown, no property or below zero.'
        chunks:
          type: integer
          format: int32
          example: 107
          description: The number of chunks that this image is splitted into.
        csize:
          type: integer
          format: int32
          example: 4096
          description: The size of each `chunk`. Note that last chunk may be smaller in size.
        language:
          type: string
          pattern: '(([a-z]{2}|[A-Z]{2})(?:-([a-z]{2}|[A-Z]{2})){0,2})(?:,([a-z]{2}|[A-Z]{2})(?:-([a-z]{2}|[A-Z]{2})){0,2})*'
          example: 'se,en-us,zh-cn'
          description: 'Language is in two-digit format as specified in [ISO 639-1 standard language codes](https://www.andiamo.co.uk/resources/iso-language-codes/). If multiple countries, use comma without space to specify a set.'
        signature:
          $ref: '#/components/schemas/Signature'
      required:
        - image
        - eid
        - target
    ImageMetaDataStreams:
      type: object
      description: 'This is a representation of a collection of images. The images are partitioned into one or more streams. Stream zero is reserved for this metadata. It may be realized into AWS streams or plain HTTPS binary file data array (in e.g. multipart HTTP). The latter means that the first file is stream id 1 and not zero when separate metadata parameter is part of the multipart HTTP. If not, the first file will be stream id 0 and contain this metadata document.'
      properties:
        eid:
          type: string
          format: uuid
          description: A ephemeral uuid of the collection of images.
          example: ffd4c900-075f-4f91-a1b6-cbfe309c427a
        signature:
          $ref: '#/components/schemas/Signature'
          description: Optional signature of the whole metadata file in order to verify its integrity. Note that this property must come before `images` propery in order to allow the device to parse the JSON payload sequentially.
        images:
          type: array
          description: One or more images.
          items:
            $ref: '#/components/schemas/ImageMetaData'
      required:
        - eid
        - images
    OnboardData:
      type: object
      properties:
        ssid:
          type: string
          minLength: 1
          maxLength: 32
          example: MYWIFI
          description: The SSID of the Wi-Fi that the password corresponds to.
        bssid:
          type: string
          pattern: '^([[:xdigit:]]{2}[:.-]?){5}[[:xdigit:]]{2}$'
          example: '3D:F2:C9:A6:B3:4F'
          description: The mac address of the Wi-Fi router for the ssid (optional)
        password:
          type: string
          format: password
          description: The password matching a SSID
          example: mysecretssidpassword
        auth:
          type: string
          format: uri
          description: The URL to the IdP where the device shall use to authenticate and get authorization ad refresh tokens. The device should use client credentials OAuth 2.0 flow
          example: 'https://de-fr.idp.blueair.io/oauth/v2/oauth-token'
        broker:
          type: string
          format: uri
          description: The URL to the broker where the device shall connect to
          example: 'https://de-fr.broker.blueair.io'
        api:
          type: string
          format: uri
          description: The URL to the API Gateway where the device shall connect to
          example: 'https://de-fr.api.blueair.io'
        sntp:
          type: string
          format: uri
          description: The SNTP URL to synchronize timn from.
        region:
          $ref: '#/components/schemas/Region'
        rand:
          type: string
          minLength: 64
          maxLength: 512
          description: 'A Secure random, base64, string to use when hashing the `text` provided. Thus this, along with the text, is sent to the cloud by the onboarder (client). The onboarder then send this random and text to the device. The device will register itself (along with it''s, uisng implicit OIDC token, UUID) using this random and text. If a match is made in the cloud the subject that is logged into the onboarder, when invoking the registration in the cloud, is paired with the device UUID. Therefore, the device is owned by the master account of the onboarder subject.'
          example: aGVsbG8gd29ybGQgZnJvbSBtYXJpby50b2ZmaWFAZGF0YWR1Y3R1cy5zZQ==
        text:
          type: string
          minLength: 128
          maxLength: 512
          description: A random generated text of which the application has used when regstered in the cloud. This is used to match device registrationin cloud (see `rand` for more information).
          example: 12978!ajfji9JIas!!9_sdkjdfjkdfjk834sdTWGREI9GJIOGDIOJF9834WRHFESNJOJINjndlmkkljdfhj839rr3hu89!
        onboardid:
          type: string
          format: uuid
          example: 06d4c900-075f-4f91-a1b6-cbfe309c427e
          description: 'The onboarding identity, e.g. the app uuid. This will be included in the onboard events to detect whom (client) is onboarding in addition to the identity.'
        dt:
          $ref: '#/components/schemas/DateTimeTZ'
      required:
        - password
        - auth
        - broker
        - api
        - region
        - rand
        - text
        - onboardid
      xml:
        name: onboard-data
    ProcessInfo:
      type: object
      description: Outlines a single process and it's status. All properties are optional since different entities supports varous elements.
      properties:
        pid:
          type: integer
          format: int32
          example: 128287
          description: The unique process id.
        name:
          type: string
          example: SNTP-Service
          description: A free form text (may not be unique) of the process name.
        cpu:
          type: integer
          format: int32
          minimum: 0
          maximum: 100
          example: 3
          description: The CPU utilitization in percent.
        heap:
          type: integer
          format: int32
          minimum: 0
          example: 19283
          description: The amount of heap memory the process currently using.
        status:
          type: string
          enum:
            - Idle
            - Active
            - Seleep
            - Zombie
            - Unknown
          example: Active
          description: In what state the process is in.
    Schedule:
      type: object
      description: A schedule consists of a trigger and a set of actions / functions when this trigger occurs.
      properties:
        ot:
          type: string
          example: Schedule
          default: Schedule
          description: 'The type of schedule, all derived types must specify it''s specific (`ot`) object type.'
      required:
        - ot
    DWTSchedule:
      allOf:
        - $ref: '#/components/schemas/Schedule'
        - type: object
          description: |-
            A schedule consists of triggers and a set of actions / functions when a trigger occurs. The trigger is based on Day of Week and a Time range (DWT). The configuration is not allowed to overlap and therefore the cloud system shall ensure that no overlaps is present when configuring the device. The trigger is formed with property `td` along with `ts` and `te`.
            The trigger exit may not only be when trigger is out of scope / range. It may also be exited using e.g. HMI buttons or other forced exit. Then the trigger is not be triggered again after it has first been out of scope and then triggered again since triggers is always evaluated at entry of the scope not during.
          properties:
            td:
              type: string
              description: The day of week trigger
              enum:
                - Mon
                - Tue
                - Wed
                - Thu
                - Fri
                - Sat
                - Sun
            ts:
              type: string
              pattern: '^[0-9][0-9]:[0-9][0-9]$'
              description: 'A range start time specified as HH:MM.'
            te:
              type: string
              pattern: '^[0-9][0-9]:[0-9][0-9]$'
              description: 'A range end time specified as HH:MM. End must be at least one minute greater than `ts`.'
            ta:
              type: array
              description: 'The actions to execute when the trigger has triggered. When the trigger is exiting, the actions may be automatically undone.'
              items:
                $ref: '#/components/schemas/OneOfTriggerAction'
            ot:
              type: string
              example: dwt
              default: dwt
              description: 'The type of schedule, all derived types must specify it''s specific (`ot`) object type.'
      required:
        - td
        - ts
        - te
        - ta
        - ot
    TriggerAction:
      type: object
      description: Root type of a action to be performed when a trigger has occured.
      properties:
        emit:
          type: boolean
          default: false
          example: false
          description: If a ActionEvent is to be emitted when this action is executing or not. The action also emits a event when the action has finished.
        ot:
          type: string
          example: TriggerAction
          default: TriggerAction
          description: 'The type of trigger action, all derived types must specify it''s specific (`ot`) object type.'
      required:
        - emit
        - ot
    ActuatorAction:
      allOf:
        - $ref: '#/components/schemas/TriggerAction'
        - type: object
          description: Action to set a certain value on a actuator.
          properties:
            actuator:
              type: string
              description: The actuator to adress such as `am` or `fsp`.
            value:
              type: object
              description: A value to be set on the actuator. It must match the actuator type `t`.
            ot:
              type: string
              example: aa
              default: aa
              description: This is the actuator action.
          required:
            - actuator
            - value
            - ot
    FanSpeedAction:
      allOf:
        - $ref: '#/components/schemas/TriggerAction'
        - type: object
          description: Action to set a fanspeed step on main fanspeed actuator.
          properties:
            speed:
              type: integer
              format: int32
              minimum: 0
              maximum: 3
            ot:
              type: string
              example: fspa
              default: fspa
              description: This is the fanspeed action.
          required:
            - speed
            - ot
    OneOfTriggerAction:
      type: object
      oneOf:
        - $ref: '#/components/schemas/ActuatorAction'
        - $ref: '#/components/schemas/FanSpeedAction'
      discriminator:
        propertyName: ot
    CmVersion:
      type: integer
      format: int64
      example: 1566475292
      description: 'The version of the configuration. Each time a change is made in the configuration it is timestamped using a, UTC 64 bit Unix, NTP time. If such source is not available it shall use old ts + 1 in order to get a new version of the configuraiton. This property may never be negative or zero.'
    CmType:
      type: string
      enum:
        - Full
        - Diff
        - State
        - Structural
        - Partial
        - Partial-Diff
      example: Diff
      description: 'The type of configuration. Default is `Full` if omitted. Whenm full, the recieving entity is REQUIRED to completely replace the configuration. If `Diff` only changed or added entries are supplied as normal. Deleted entries are set in the `_d` property. Default is `Full`. <p> When `Diff` it is possible to supply only one object for a list of objects. The reciever needs to determine which object that is to be updated or if it is a new object. For example, a list of Wi-Fi list contains objects with _ssid_, _bssid_, and _psk_. If a object with _ssid_ _MYWIFI_ exit and a object with _ssid_ MYWIFI_ is submitted, it is a _update_ operation. If no such object with the _ssid_ of _MYWIFI_ is found, it is a _new_ object operation. </p> <p> If type is `State` only, optionally, signature and mandatory version is provided to denote which state the configuration is in. This is used in Check-Sync where CM wants to check device or app configuration. The response of such operation is configuration object(s) with type set to `State`. This is to reduce the bandwith needed to do a check sync. For example the `CMSyncEvent` in `Report` action exposes a `Configuration` object with `State`. This is e.g. used when a device connects.</p> <p> If `Structural` only metadata for a certain `Configuration` object is returned. Especially the `_sm` property is wanted when `Structural` is returned. This has to be explicitly requested in order to get the security / structural metadata.</p> <p> By `Partial` the Configuration object do not contain all properties by purpose. This may be either a request that only specified a certain amount of objects / properties or the requestor do not have sufficient claims and scopes to be able to se the complete `Configuration`.</p> <p> This is the same as `Partial` except that a `Full` was requested but could for above reason not be completely fulfilled.</p>'
    ConfigScope:
      type: string
      example: Instance
      enum:
        - CloudWideMulti
        - CloudWide
        - RegionalMulti
        - Regional
        - InstanceMulti
        - Instance
      description: |
        This  describes the scope of the config. The ordinal
        of the column specifies the level of which configuration
        may be override. For example a configuration defined at ordinal 1
        may be overridden in e.g. ordinal 3 since higher number than 1.
        Default scope if not provided is `Instance`.
        <p>
        Some properties may not be overridden since in locked state at any
        point in the configuration. The propagation of the confiugration is
        always one way, this means that the `CloudWideMulti` and `CloudWide`
        always originates from central AWS EU cloud. Whereas each region do
        have it's primary CM Service. Therefore, no conflict management may
        occur since always one way replicated.</p>
            
        <table>
          <tr>
            <td>Scope</td>
            <td>Range</td>
            <td>Ordinal</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>CloudWideMulti</td>
            <td>Multi-cloud, all regions scope.</td>
            <td>0</td>
            <td>
              This scope is a root scope where all root configuration properties are defined. Since
              it is a multi-cloud scope it will also be replicated to other cloud than the primary
              cloud provider.
            </td>
          </tr>
          <tr>
            <td>CloudWide</td>
            <td>All regions for current cloud provider.</td>
            <td>1</td>
            <td>
              The scope is for all regions in same cloud provider. The configuration is replicated to all
              regions within the same cloud provider. Regions may override properties (if allowed) 
            </td>
          </tr>
          <tr>
            <td>RegionalMulti</td>
            <td>All cloud providers within a region.</td>
            <td>2</td>
            <td>
              The scope is for a single region where it may have multiple cloud providers. If such is the
              case; the configuration applies for all cloud providers in that region.
            </td>
          </tr>
          <tr>
            <td>Regional</td>
            <td>Single region for a single cloud provider.</td>
            <td>3</td>
            <td>This scope applies only for one cloud provider for a single region.</td>
          </tr>
          <tr>
            <td>InstanceMulti</td>
            <td>Only configuration for a certain instance of a device, service or client (application) within all regions, all clouds.</td>
            <td>4</td>
            <td>
              This is explcit configuration if instance based such as a device with a certain UUID have user settings that may be set
              on that particular device. This is often user settings but may be provided by e.g. Blueair (in B2B scenarios). This configuration
              is replicated all regions on all clouds.
            </td>
          </tr>
          <tr>
            <td>Instance</td>
            <td>Only configuration for a certain instance of a device, service or client (application) within a single region.</td>
            <td>5</td>
            <td>
              Same as `InstanceMulti` but is not replicated, instead it is regional bound. This means that the settings is lost if e.g. a
              device is connecting to a new region and therefore needs to be re-configured there.
            </td>
          </tr>
        </table>
    CmPropertyScope:
      type: string
      enum:
        - Bidirectional
        - MasterCM
        - MaterEntity
        - Opaque
      example: Bidirectional
      description: |
        How the property propagates to and from the CM. The default is `Bidirectional`.
        <table>
          <tr>
            <td>Property Scope</td>
            <td>Description</td>
          </tr>
          <tr>
            <td>Bidirectional</td>
            <td>
              The property is check-synced as multi master property. That means that the
              property may be overwritten both ways.
            </td>
          </tr>
          <tr>
            <td>MasterCM</td>
            <td>
              The property may only be written to entities and never altered or propagated
              back to the CM. This is a one way synchronization. If the CM detects that a
              property has changed it will overwrite this in subsquent check-sync.
            </td>
          </tr>
          <tr>
            <td>MaterEntity</td>
            <td>
              The property may only be written to CM and never altered or propagated
              back to the entity. This is a one way synchronization. This is where
              CM always gets updated in a check-sync and never writes changes to the entity.
            </td>
          </tr>
          <tr>
            <td>Opaque</td>
            <td>
              A opaque configuration is stored in the CM but never part of a version change or
              repository hash change. This can be information retrieved from items on a device
              such as a filter RFID chip of which contains information that is only to be read
              in the cloud. The device will never emit a CM event, this discoverable in a check
              sync if the retirev option is to include opaque configuration.
            </td>
          </tr>
        </table>
    CmProperty:
      type: object
      description: This object addresses a property in the `Configration` object. It is also possible to denote a object type to resolve any ambiguities (same property name for several types of objects). This is used in the structural meta entry object to reference which property or properties that is part of the authorization or structural defintion. This is a separate object since array in `CMStructuralMetaEntry` object.
      properties:
        p:
          type: string
          example: maxSpeed
          description: Optionally specify which property in the `Configuration` object this authorization applies to. If omitted it applies to whole `Configuration` object instead. If the property is embedded in a object or an array use dot notation to denote property navigation. The <p> To address a single property in e.g. `FanSensor` this property is set to sensors.maxspeed and `ot` is set to `FanSensor`. If address root `Sensor` or any object type with a certain property name just omit the `ot` property.</p>
        ot:
          type: string
          example: FanSensor
          description: 'This is set when it is neccesary to check the `ot` (_Object Type_) property on the object that the `p` property refers to. For example when having a array of sensors, thus multiple types of sensors do exist and might have the same property name. In order to explicity, and avoid ambiguity, specify the object type. If omitted, the `p` property in that case will address all object types on the array. <p> However, it does not only apply to arrays, it applies as a pre condition to when evaluating the property name or path for a certain object. For example if a single object may be of different types it also needs to be explicitly addressed.</p>'
        l:
          $ref: '#/components/schemas/CmPropertyOverride'
    CmStructuralMeta:
      type: object
      description: Contains the structural metadata for the configuration document.
      properties:
        sm:
          type: array
          description: All structural metadata entires.
          items:
            $ref: '#/components/schemas/CmStructuralMetaEntry'
        c:
          type: array
          description: 'All global defined inheritance chains (down to `ConfigScope` of Regional). The `Instance` and `InstanceMulti` are visible in the `ic` property object. Changes in this chain will not be automatically applied on existing instances, unless `force` flag is set to  `true`. This is due to the fact that it would be a really expensive operation to update all instance configuration (property `ic`). The instance id is based on the configuraiton `_id` and the `InstanceMulti` is the same as the `_id` except for the first byte specifies that this _UUID_ is a InstanceMulti identifier. Therefore, it is always possible to automatically infer the `InstanceMulti` _id_ from the `Configuration` objects `_id`.'
          items:
            $ref: '#/components/schemas/CmInstanceType'
        s:
          type: string
          format: uri
          example: 'urn:blueair:schema:openapi:version:g4d:1.0.0'
          description: 'This is the schema for the current `Configuration` object. This schema must handle all properties and structures in the inheritance chain. The schema is on the form name and version following the [OSGi Semantic Versioning](https://www.osgi.org/wp-content/uploads/SemanticVersioning.pdf).'
    CmStructuralMetaEntry:
      type: object
      description: 'This object describes the structural relationship between Configuration and property overriding. It contains the ability to lock or override `Configuration` object as a whole or a specific property in the `Configuration` object. This applies to ordinal in `ConfigurationScope` in such way that only ordinal higher may override if property or `Configuration` is not denoted as `Locked`. It also support configuration for the property / configuration read and write authorization. <p> Since this object both handles inheritance and property overrides and claims, everything is optional. If the `p` array is omitted, thus no properties are addressed, this clause is adressing the `Configuration` object as a whole instead.</p>'
      properties:
        s:
          $ref: '#/components/schemas/ConfigScope'
          description: Which configuration scope this structural / authentication configuration applies to.
        l:
          $ref: '#/components/schemas/CmPropertyOverride'
        cr:
          type: string
          example: devices
          description: 'The name of the claim that the (`r`)ead value is mached on. When multiple claim values are residing in a claim name it may be a bag type instead of scalar. This is the name for read rights. It is possible to use macro that can fetch it''s information in the configuration object root property. For example, owner_{did} looks for the claim name owner and the device id specified in the configuration object. If no value is specified in property `r`; the presense of this claim, independant on its value(s), gives read authorization.'
        r:
          type: array
          description: 'The value of the `cr` to match to be authorized for read. It is possible to use macro that can fetch it''s information in the configuration object root property. For example, owner_{did} looks for the claim name owner and the device id specified in the configuration object.'
          items:
            type: string
            example: 'device-{did}'
        cw:
          type: string
          example: devices
          description: 'The name of the claim that the (`w`)rite value is mached on. When multiple claim values are residing in a claim name it may be a bag type instead of scalar. This is the name for write rights. Same macro support as `cr` is supported for this property. If no value is specified in property `w`; the presense of this claim, independant on its value(s), gives write authorization.'
        w:
          type: array
          description: The value of the `cw` to match to be authorized for write. Same macro support as `r` is supported for this property.
          items:
            type: string
            example: 'device-{did}'
        pbn:
          type: string
          example: baseline
          description: A prefix that applies to all properties specified in `p` and `qp`. This is useful when many properties exists in a object and therefore a more shorthand version of those may be specified since all of them will be prefixed with this property content.
        p:
          type: array
          description: 'An array of properties that specifies which properties are subject for the read / write authorization and overried (`l`) property configuraiton. If property name cannot be unambigiously qualified, use the `qp`array and specify which object type (`ot`) the property belongs to.'
          items:
            type: string
            example: childLockTimeout
        ps:
          $ref: '#/components/schemas/CmPropertyScope'
        qp:
          type: array
          description: 'An array of qualified properties, instead of the plain property array. This array contains objects that may specify the property name, object type and override the root `l` property.'
          items:
            $ref: '#/components/schemas/CmProperty'
      xml:
        name: sm-entry
    CmInstanceType:
      type: object
      description: The instance type (name) and the inheritance chain down to this type.
      properties:
        'n':
          type: string
          description: 'The instance type is a discriminator so it is possible for device, app, or other entity to have their own configuration document structure and schema. Each types do have their own inheritance to root such as `CloudWideMulti` ConfigScope. The inheritance chain is specified in the structural metadata for the config object (thus is global). This type must be unique amongst the schemas, otherwise unpredicted result is to be expected.'
          example: BAFApp
        c:
          type: array
          description: 'The inheritance chain viewed from the `ConfigScope` of this configuration document. This is a complete inheritance chain in order to pin each configuration document. All configurations do have the same UUID even if they are e.g. regional bound. This means that a particular configuration document that is replicated to several regions will have the same UUID for every region. This is true even for instance based configuration. Therefore, it is possible to define globally for each `n` the inheritance chain down to ConfigScope `Regional`. However, then since each app, device etc. has their own instance, that will be encoded into the `Configuration` object metadata for that `Instance` or `InstanceMulti`. <table> <tr> <td>Instance Type (Name)</td> <td>ConfigScope</td> <td>Example Id</td> <td>Defined</td> </tr> <tr> <td>BAFApp</td> <td>CloudWideMulti</td> <td>119111e8-378f-4203-92d2-7420ac780ebb</td> <td>Globally</td> </tr> <tr> <td></td> <td>CloudWide</td> <td>229111e8-378f-4203-92d2-7420ac780ebb</td> <td>Globally</td> </tr> <tr> <td></td> <td>RegionalMulti</td> <td>339111e8-378f-4203-92d2-7420ac780ebb</td> <td>Globally</td> </tr> <tr> <td></td> <td>Regional</td> <td>449111e8-378f-4203-92d2-7420ac780ebb</td> <td>Globally</td> </tr> <tr> <td></td> <td>InstanceMulti</td> <td>559111e8-378f-4203-92d2-7420ac780ebb</td> <td><em>Configuration</em> object property <em>ic</em></td> </tr> <tr> <td></td> <td>Instance</td> <td>669111e8-378f-4203-92d2-7420ac780ebb</td> <td><em>Configuration</em> object property <em>ic</em></td> </tr> </table> <p></p> The above table is an example of _BAFApp_ is has a defined hiearchy. Where the _Instance_ and `InstanceMulti` is defined in the `ic` property of the `StructuralMeta` object and the rest is globally defined in the `_sm` object. The instance id is based on the configuraiton `_id` and the `InstanceMulti` is the same as the `_id` except for the first byte specifies that this _UUID_ is a InstanceMulti identifier. Therefore, it is always possible to automatically infer the `InstanceMulti` _id_ from the `Configuration` objects `_id`'
          items:
            type: string
            format: uuid
            example: ca9111e8-378f-4203-92d2-7420ac780ebb
    CmPropertyOverride:
      type: string
      description: Describes if the property or properties are `Locked` for overrides. If `Locked` it is not possible in a ordinally higher `Configuration` object to override values there. Default is `Open`. It is not possible to _Open_ a attribe or `Configuration` object once it has been declared as _Locked_. It is not possible to override authentication in a `Locked` property
      example: Locked
      enum:
        - Locked
        - Open
    CmConfig:
      type: object
      additionalProperties: true
      description: 'This `CmConfig` object encapsulates the configuration and provides metadata around the configuration. This is not neccesarily the way configuration is stored, instead this is an encapsulation with both CM metadata and the configuration itself. Note that CM may have additional metadata that is not revealed in this structure and should be considered as internal, such as variables used for Global indexing in DynamoDB etc. <p> Configuration object property names must never start with an underscore since that is reserved for the CM to use as metadata.</p> <p> This object is used to expose configuration towards clients, services and devices and exposes some internal CM metadata and allows for transportation, verification, splitting. Internally app, client, device, and CM may store the configuration in any shape.</p> <p> When the configuration is split up into several chunks (specified in `_cz`) it may also split a single property. If subsquent `CmConfig` object with same `_eid` have the same property it shall be concatinated with the previous one. This only applies to string properties. For example if transporting a PEM certificate chain, it may be split up into several `CmConfig` objects since it may be too large for e.g. the device to recieve.</p> <p> CmConfig may also have different scopes where it is possible to define configuration on a global scope that may be overridden down the scope chain (see `ConfigScope` for more info)</p>'
      properties:
        _eid:
          type: string
          format: uuid
          nullable: false
          example: 33769d94-bb56-4ab6-b102-d21f4295eec6
          description: 'A temporary id that referes to an operation. For example when `CMReadRequest` is issued, it will respond with the same id as the read request in order to correlate on such. It is also used to to correlate splitted configuration objects so the reciever may do gather configuration objects in same session (`_eid`).'
        _id:
          type: string
          format: uuid
          example: 9e88402a-a10a-4c67-bd53-f2a041247296
          description: 'The UUID of the application, service, device gotten from the persistent UUID service that this `CmConfig` object belongs to.'
        _s:
          $ref: '#/components/schemas/Signature'
          description: |-
            A signature that contains a hash, algorithm, and possibly a hint of what secret key / public key to use when verifying the signature. This is a optional property. When a configuration is signed, the recieving entity may authenticate the configuration1 so assure that it is from a trusted source.
            The signature applies to the configuration object. If splitted up into chunks, all chunks are calculated before sending one signature in `_sid` zero. It must first exclude `_sid` and `_cz` when calculating multi part `CmConfig` object.
        _v:
          $ref: '#/components/schemas/CmVersion'
        _r:
          type: string
          pattern: '^[A-Z]{2,4}-[A-Z]{2}$'
          example: EU-SE
          description: |
            'Which region the `CmConfig` object is bound to. This only applies to regional bound `Configration` objectsa (thus optional). It is on the following format  [Region]-[Country]. Country is in two-digit format as specified in  ISO3166-1. The regions are: EU, US, APAC, ME, CN.'. If multi part `CmConfig` object; only the first part `_sid` = 0 needs to have this property set for regional bound documents. <p> This is used by the CM to replace configuration on enties, such as a device, when changing region. Therefore it is possible to have different settings depending on which region the device is connected to. It is also the basis why the e.g. `Instance` base congfiguration needs to be redone in a new region.</p>
        _cas:
          type: integer
          format: int64
          example: 1566475291
          description: 'This is only present in a configuration provision request. The configuration is always updated using CAS (Check and Set). The changer needs to read this version field. When it sends its update to either CM, device or other entity that the configuration change will apply it will provide with this stored version (timestamp) and a new timestamp (greater than the old). The recieving entity will check its repository if the version matches it will change the configuration and update with the new timestamp provided. The last operation needs to be atomic on the entity.'
        _t:
          $ref: '#/components/schemas/CmType'
        _it:
          type: string
          example: BAFApp
          description: The type of the configuration object. See the `CMInstanceType` for more information (stored in the `c` and `ic`  property of in the `_sm` property). This type is not dictating the object type (`ot`) of the `CmConfig` object. Instead it is a distinguisher of which type of configuration it carries whereas the `ot` property dictates the actual configuration container type.
        _sc:
          $ref: '#/components/schemas/ConfigScope'
        _sm:
          $ref: '#/components/schemas/CmStructuralMeta'
          description: This is structural metadata for a `CmConfig` object. This has to be explicitly requested from the CM and thus is not part of a normal request or check-sync operation. Current specification requires this entry to be globally configurable. This means that all `CmConfig` object share the same `_sm` metadata. Be careful when designing root nodes in the configuration so no clashes in the property override or authorization occurs. This is to easen the burden for the CM Service to enforce overrides and authorization.
        _d:
          type: array
          description: 'An optional array of entries deleted. This property can only contain elements when the (`_t`)ype is `Diff`. It uses the same property navigation syntax as declared in the `Property` object. The exception is that is cannot distinguish between object types (`ot`). Thus, the navigation can support a single JSON property or a path of properties. The path separator is dot. When dotted it will navigate to sub JSON object. It uses the name after the dot to access the property in the sub JSON object. For example, if the config object contains a property called kalle. That property in its turn is a JSON object with a property called nisse. If the property expression is kalle.nisse. The sub JSON object property nisse will be removed.'
          items:
            type: string
            example: baseline.fssid
        _sid:
          type: integer
          format: int32
          example: 1
          description: 'If configuration split up into multiple documents, e.g. for transporting to device not capable of large objects. This denotes the sequence id. When this property is missing, the configuration is provided in fully. Otherwise the id starts at zero and increments for each segment. If `_s`, the first document (_sid = 0) shall only contain those values and the subsquent ones only the `_sid` and `_cz` properties are neccesary (along with the configuraiton items). The reciever MUST recieve all before doing the replacement of the configuration since that operation is atomic (see `_v`).'
        _cz:
          type: integer
          format: int32
          example: 2
          description: 'The number of chunks to expect if configuration is splitted. This is required to be included in each object if `_sid` property is used. The recieving end stops when the `_sid` = `_cz` - 1. Thus, the configuration object is complete.'
        _f:
          type: boolean
          example: false
          description: An optional parameter when writing configuration (default `false`) that allows for forcing values even if they are declared as one way or opaque. This may require additional claims since overriding the configured setup (see `_sm` for more information). This is useful when e.g. cloud need to update a device uuid and it is declared as `Opaque`. This can also be used to e.g. set a configuration version of zero (or other arbitary version) and thereby bypass the established convention.
        _ot:
          type: string
          example: CmConfig
          description: 'The object type of this configuration. If omitted it default to `CmConfig`. If specified object type, the configuration object has the supported properties specified.'
      required:
        - _id
        - _eid
      xml:
        name: cm-config
    CMReadRequest:
      type: object
      description: 'This is a request to read configuration from a remote entity. Based on which claims and scopes current requesting identity has the returning data will be filtered (partially), rejected or in fully supplied. The error respone are provided in `CMReadResponse` where error codes describe what did go wrong.'
      properties:
        id:
          type: string
          format: uuid
          description: An optional id to use to correlate the response. The confiugration object `_eid` will contain this `id`.
        s:
          $ref: '#/components/schemas/Signature'
          description: 'The signature of a certain `Diff` on the remote entity. If the remote entity supports `Diff` `Configuration` object reeads it stores the last n `Diff` object and may be retrieved. This is used in the check-sync process where the CM service wishes to read the changes only (to perserve bandwith and not expose sensitive material). If omitted, the current, full, entity configuration is wanted. Only the `sig` part of this object is required.'
        v:
          $ref: '#/components/schemas/CmVersion'
          description: 'The version of a certain `Diff` condfiguration object to be read (see `s` for more details). If omitted, the current, full, entity configuration is wanted.'
        r:
          type: array
          description: Optional filter in only root objects matching the names in this array. In this way it is possible to filter out certain configuration elements. This is most useful when doing `Full` and just wants parts of the configuration. If the configuration is truncated it will denote that in the `_t` parameter as `Partial`.
          items:
            type: string
            example: sensors
        t:
          $ref: '#/components/schemas/CmType'
          description: Which type of `Configuration` object is requested. Note when `Diff` it is neccesary to provide with `s` and `v`. The `r` property should not be provided in this case.
        opaque:
          type: boolean
          example: false
          description: A optional boolean if it should include the opaque configuration in the request. This will render all opaque configuration (reachable) in current scope and claims to be rendered (eve in a `Diff` document). Default is `false`.
      required:
        - t
      xml:
        name: cm-read
    CMWriteResponseCodes:
      type: object
      description: This object is used for either _ack_ or _error_ communication within the `CMWriteResponse` object.
      properties:
        c:
          type: integer
          format: int32
          example: 413
          description: The HTTP error code for the ack package
        b:
          type: array
          description: 'The array of recieved `Configuration` objects identified by the `_sid` property. For example 0, 1, 2.'
          items:
            type: integer
            format: int32
            example: 1
        m:
          type: string
          example: 'Payload Too Large, max size is 2kb'
          description: An optional messsage (usually on error codes).
      required:
        - c
    CMWriteResponse:
      type: object
[...]
